*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body{
  background-color: black;
  height:100vh ;
}
.interface{
  max-width:1280px ;
  margin: 0 auto;
}
.flex{
  display: flex;
}
.btn-contato button{
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: aqua;
  border: 0;
  border-radius: 30px;
  cursor:pointer ;
  transition: .2s;
}
h1{
  text-align:justify;
  color: #fff;
}
h2.titulo{
  color: #fff;
  font-size: 28px;
  text-align: center;
  padding: 10px 40px;
}
h2.titulo span{
  color: aqua;
}
button:hover, form .btn-enviar input:hover{
  box-shadow: 0px 0px 8px aquamarine ;
  transform: scale(1.05);
}
p.texto{
  text-align: justify;
  padding: 10px 40px;
  font-size: 20px;
}
p.introducao{
  padding: 10px 40px;
  font-size: 20px;
}
/* Estilo do cabeçalho*/

header{
  padding: 40px 4%;
}
header> .interface{
  display: flex;
  align-items: center;
  justify-content:space-between ;

}
header a{
  color: aliceblue;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
}
header a:hover{
  color: antiquewhite;
  transform:scale(1.05) ;
}
header nav ul{
  list-style-type:none;
}
header nav ul li{
  display: inline-block;
  padding: 0 40px;
}


/*Estilo do Topo do site*/
section.topo-do-site{
  padding: 40px 4%;
}
section.topo-do-site .flex{
  align-items: center;
  justify-content: center;
gap: 90px;
}
.topo-do-site h1{
  color: #fff;
  font-size: 38px ;
}
p{
  color: aliceblue;
}
.topo-do-site .txt-topo-do-site p{
  color:aliceblue;
  margin: 40px 0;

}
 
.topo-do-site .img-topo-do-site img{
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
  0%{
    top: 0;
  }
  100%{
    top: 30px;
  }
}
/* estilo especialidades*/

section.especialidades{
  padding: 80px 0;
}

section.especialidades .flex{
  gap: 60px;

}
.especialidades .especialidades-box{
  color: #fff;
  padding: 40px;
  border-radius: 20px;
margin-top: 45px;
transition: .2s;
}
.especialidades .especialidades-box:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff70;
}
.especialidades .especialidades-box i{
  font-size: 70px;
  color: aqua;
}
.especialidades .especialidades-box h3{
  font-size: 28px ;
  margin: 15px 0;
}

/*sobre mim*/
section.sobre{
  padding: 40px 4%;
}
section.sobre.flex {
  align-items: center;
  gap: 60px;
}
.sobre .txt-sobre{
  color: #fff;

}
.sobre .txt-sobre h2{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
  color: aqua;
  display: block;
  
}
.sobre .txt-sobre p{
  margin: 20px 0;
  text-align: justify;
}
.btn-social button{
width: 60px;
height: 60px;
border-radius: 50%;
border: none;
background-color: aqua;
font-size: 22px;
cursor: pointer;
margin: 0 5px;
transition: .2s;
}
/*Fale comigo*/
section.formulario{
  padding: 80px 4%;
}
form{
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
margin-top: 40px;
}
form input, form textarea{
  width: 100%;
  background-color: rgb(66, 65, 65);
  border: 0;
  outline: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}
form input::placeholder{
  color: aqua;
}
form input, form textarea::placeholder{
  color: aqua;
}
form textarea{
  resize: none;
  max-height: 200px;

}
form .btn-enviar{
  margin-top: 20px;
  text-align: center;
}
form .btn-enviar input{
  width: 120px;
  background-color: aqua;
  color: black;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
}
/*rodapé*/
footer{
  padding: 40px 4%;
  box-shadow: 0 0v40px 10px #ffffff1d;
}
footer .flex{
  justify-content: space-between;
}
footer .line-footer{
  padding: 20px 0;
}
.borda{
  border-top: 2px solid aqua;
}
footer .line-footer p i{
  color: aqua;
  font-size: 22px;
}
footer .line-footer p a{
  color: #fff;
}

div-preta {
  display: grid;
  grid-template-columns: 50% 50%;
}